* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #f89826, #8d53f3);
}

.container {
  border-style: none;
  padding: 30px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.85);
}

.watch-face {
  border-style: none;
  margin: 20px;
  padding: 10px;
  border-radius: 15px;
  background: hsla(120, 28%, 58%, 0.65);

  p {
    font-size: 2rem;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
  }
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.btn-start {
  background: rgba(0, 255, 0, 0.65);
  color: white;
  padding: 12px 18px;
  font-size: 1.2em;
  border-style: none;
  border-radius: 8px;
}

.btn-start:hover {
  background: rgba(0, 255, 0, 0.9);
  cursor: pointer;
}

.btn-stop {
  background: rgba(248, 23, 23, 0.75);
  color: white;

  padding: 12px 18px;
  font-size: 1.2em;
  border-style: none;
  border-radius: 8px;
}

.btn-stop:hover {
  background: rgba(248, 23, 23, 0.9);
  cursor: pointer;
}

.btn-reset {
  background: rgba(28, 92, 253, 0.75);
  color: white;

  padding: 12px 18px;
  font-size: 1.2em;
  border-style: none;
  border-radius: 8px;
}

.btn-reset:hover {
  background: rgba(28, 92, 253, 0.9);
  cursor: pointer;
}

.title {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  color: rgba(63, 61, 61, 0.37);
}
